doctype 5
html
  head
    title Big Ol Test
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/game.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src="/socket.io/socket.io.js")
    script(src="views/home.js")
    script(src="js/vendor/custom.modernizr.js")
    script(src="js/vendor/tween/easeljs-NEXT.min.js")
    script(src="js/vendor/tween/createjs/events/Event.js")
    script(src="js/vendor/tween/createjs/events/EventDispatcher.js")
    script(src="js/vendor/tween/tweenjs/Tween.js")
    script(src="js/vendor/tween/tweenjs/Ease.js")
  body#home
    ul#featured(data-orbit)
      li
        img#zero(src='images/tutorial/IMG_0596.JPG', width='1000')
      li
        img#one(src='images/tutorial/IMG_0597.JPG', width='1000')
      li
        img#two(src='images/tutorial/IMG_0598.JPG', width='1000')
      li
        img#one(src='images/tutorial/IMG_0597.JPG', width='1000')
    div.row
      header
        h1#logo
    div.row
      div.large-6.columns
        h2#player1_handle
        h2#player1_score
      div.large-6.columns
        h2#player2_handle
        h2#player2_score
    div.row
      canvas#testCanvas(width="960",height="600")
    div.row
      div#player1.large-6.columns
      div#player2.large-6.columns
  script(src="js/foundation.min.js")
  script(src="js/foundation/foundation.orbit.js")
  script.
    $(document).foundation('orbit', {
      animation_speed: 5,
      timer_speed: 200
    });
    var count = 0;
    $('#featured').on('orbit:after-slide-change', function(event, orbit){
      if (orbit.slide_number == 3){
        count = count + 1;
        if (count == 3){
          $('#featured').siblings(".orbit-timer").click();
          $('.orbit-container').fadeOut(1000).delay(1500).remove();
        }
      }
    });
            