doctype 5
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Sign Spell
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src="/socket.io/socket.io.js")
    script(src="views/mobile.js")
    script(src="js/vendor/custom.modernizr.js")
  body
    div#player_setup
      div.row
        header.large-12.columns
          h2 Please enter your name
      div.row
        div.large-12.columns
          input(type='text')#pseudoInput
          button#pseudoSet.button Set Pseudo
    ul#featured(data-orbit)
      li
        img(src='images/circle.png')
      li
        img(src='images/square.png')
      li
        img(src='images/triangle.png')
    div.row
      div.large-12.columns
        div#chatEntries
  
  script(src="js/foundation.min.js")
  script(src="js/foundation/foundation.orbit.js")
  script.
    $(document).foundation('orbit', {
      timer: false
    });
            